.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mycontent-left {
  border-right: 1px solid #333;
}

.mycontent-right {
  margin: 1%;
}
.custom-card {
  padding: 12px;
}

.row {
  margin-bottom: 25px;
}

.btn-success {
  color: #fff !important;
  background-color: #008a00   !important;
  border-color: #008a00 !important;
}

.navbar-dark .navbar-nav .nav-link {
color: rgb(160, 163, 165) !important;  
background-color: rgb(52, 58, 64) !important;
}