/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: rgba(255, 255, 255, 0.952); /* Media Query*/
}

.text-muted {
  color: #6e7881!important;
}

li > a {
  color: #0072ee !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #0072ee  !important;
  border-color: #0072ee  !important;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Media Query for CSS3*/

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 321px) and (max-width: 480px) {
}

@media (max-width: 320px) {
}

.rdw-editor-wrapper {
  background-color: lightgray !important;
}

.Collapsible__trigger {
  font-weight: bold;
}

/*Login Form CSS*/
#btnlogin {
  width: 50%;
  float: left;
  margin: -4px -6px 0px 0px;
}

#btnsignup {
  width: 50%;
  float: right;
  margin: -4px -6px 0px 0px;
}
